.main-content {
  margin-top: 1em;
}
#event-name-heading > #edit-event-btn {
  display: none;
}
#event-name-heading:hover > #edit-event-btn {
  display: inline-block;
}
.attending-btns {
  display: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  background-color: #fff;
}
#datetimepicker.input-append .add-on {
  position: absolute;
}

#datetimepicker.input-append .add-on i {
  position: relative;
  top: 20%;
}
.maybe-button {
  margin-left:auto;
  margin-right:auto;
}